<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mi html</title>
</head>
<style>
    h2{
        color:rgb(3, 83, 9);
    }

</style>
<body>
    <h1 style="color: rgb(219, 31, 46); font-style: inherit;">Mi primer html</h1>
    <h2>hola soy {{name}}</h2> 
    <h2>{{fruta}}</h2>
    <p>Esto es un párrafo</p>
    <button>Pulsa</button>
    <p></p>
    <a href="https://www.marca.com/"> ir a otra dirección</a>   
    
</body>
</html>